<ModConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
<Id>Joseph983.TrackableLifts</Id>
<Name>Josephs Trackable Lifts</Name>
<Description>This mod includes a number of...</Description>
<ChangeNote>Changes in this version</ChangeNote>
<Version>1</Version>
<IsLocalMod>false</IsLocalMod>
<IsServerOnlyMod>false</IsServerOnlyMod>
</ModConfiguration>
